.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
__pycache__
.env_file

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Direnv
.envrc
.direnv

# own
.env_file
venv/
save/
token
new_user_credentials
new-user-1_accessKeys
new-user-1_accessKeys.csv